main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  max-width: 700px;
  //   border-bottom: 3px solid #3b3a4e;
  border-radius: 19px;
  padding: 3em 3em;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
