h1 {
  color: #357266;
  font-size: clamp(1.125rem, calc(0.8571rem + 1.1429vw), 1.5rem);
  //font-size: 2rem;
  width: fit-content;
}

.p_one,
.p_two {
  font-size: clamp(2.75rem, calc(1.8571rem + 3.8095vw), 4rem);
  //font-size: 5.2rem;
  margin-top: 2rem;
  line-height: 1.1;
}

.p {
  &_one {
    color: #f3e0ec;
  }
  &_two {
    color: #a799b7;
  }
  &_three {
    color: #fff;
    font-size: clamp(1.125rem, calc(0.8571rem + 1.1429vw), 1.5rem);
    //font-size: 1.8rem;
    margin: 1.8em 0;
  }
}

span {
  border-bottom: #f3e0ec 5px solid;
}
